html,
body {
  /* background: url(https://cdn.wallpapersafari.com/39/85/TEhKor.jpg); */

  background: url(../public/images/background-pic.webp);  
  background-size: cover;
  height: 100vh;
  background-attachment: fixed;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
a {
  color: inherit;
  text-decoration: none;
}
/* *, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
} */