.swiperSlide {
  /* background-color: rgb(221, 12, 72); */
  background-color: rgba(0, 0, 0, 0);
  /* box-shadow: 5px 5px 12px 12px rgba(7, 1, 28, 0.918); */
}
.swiperImage {
    /* color: white  */
}
.swiperSlide p {
  position: relative;
  top: 10em;
  font-size: 18px;
  color: white;
  background-color: black;
  border: double white 5px;
}
.thing {
  color: rgb(78, 140, 151);
}

/* @media screen and (max-width: 600px) {
    .swiperSlide{
        display: flex;
        flex-direction: column;
    }
} */
